.main a{
    color: brown;
    font-size: 30px;
    }
    .mobile-search-field {
        margin: 0;
        padding: 8px;
        margin-bottom: 20px;
        width: 100%;
    }
    .mobile-search-button{
        padding: 8px;
        margin-bottom: 20px;
        width: 40%;
        margin-left: 90px;
        color: aliceblue;
        background-color: rgb(62, 61, 61);


    }
    .sec1{
        background-image: url(../img/back/imges.jpg);
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
.para p{
    margin-top: 4%;
    color: black;
font-size: 25px;
}






.para img{
margin-top: 20%;
}
.para a{
    padding: 15px;

}
.sec2{
    background-color: aqua;
    width: 100%;
    height: 40vh;
}
.para2 p{
        margin-top: 5%;
        color: black;
    font-size: 20px;
}
.icon{
    
}
/* .section-bottom img{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    margin-left: 45px;
    padding: 2px;
    position: relative;
    top:-80px;
    
    border: 1px dashed #fff;
}
.section-bottom h2{
    position: relative;
    top: -70px;
}
.section-bottom p{
    position: relative;
    top: -70px;
}
.sec3{
    background-color: rgb(242, 235, 235);
    height: 100vh;
}
.sec3 img{
width: 100%;
justify-content: center;
}









 */
 .section-bottom img{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    margin-left: 45px;
    padding: 2px;
    position: relative;
    top:-80px;
    
    border: 1px dashed #fff;
}
.section-bottom h2{
    position: relative;
    top: -70px;
}
.section-bottom p{
    position: relative;
    top: -70px;
}
.sec4 {
    margin-top: 60px;
}
.sec4 p{
    font-size: 20px;
}
.sec3 img{
    width: 100%;
}
.sec4 img{
    border-radius: 50%;
    border: 3px dashed rgb(116, 128, 169);
}
.sec4 cite{
    color: aqua;
}
.sec4 .para{
    width: 70%;
    margin-left: 20px;
}
/* .sec5{
    background-color: orange;
    height: 
} */
.img5 img{
    width: 100%;
    margin: 5px;
    border: 10px solid rgb(232, 234, 240);
    
}
.sec6 img{
    width: 100%;
    
}
.sec6 span{
    color: #fff;
/* font-size: 18px;
font-weight: 600;
position: absolute;
bottom: 0;
right: 0;
padding: 6px 14px; */
background-color: #66d9c1;
position: relative;
top:-30px;
padding: 6px 14px; */
}
.sec7 h2{
    margin-top: 70px;
}
.sec7 img{
    width: 100%;
    margin-left: px;
}
.sec8{
    padding-top: 50px;
}
.sec8 .icon {
    
    font-size: 3rem;
    
}
.sec8{
    background-color: rgb(223, 133, 80);
    margin-top: 30px;
    padding-bottom: 40px;
}
.sec8 p{
    position: relative;
    bottom: -40%;
}



.sec7 p{
    color: rgb(69, 68, 68);
}
.para7{
    position: relative;
    top: -50px;
}
.sec7 i{
    position: relative;
    top: -50px;  
    margin-left: 20px;
}
.para8 p{
    width: 100%;
    font-style: oblique;
    
    font-size: 230%;
    margin-top: 20px;
}
.sec7 cite{
    color: aqua;
    
}
.sec10{
    position: relative;
    top:-16px;
}



    












    @media (min-width:768px){
        .butt{
            display: flex;
        }
         .mobile-search-button{
            width: 40%;
        }

    }
    @media (min-width:992px){
        .sec8 .para9{
display: flex;

        }
        
    }
   