.logo img{
    width: 30%;
}
.sec1{
    background-image: url(../imges/background/banner.jpg);
    width: 100%;
    height: 130vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    
}
.sec2{
    background-image: url(../imges/background/imges.jpg);
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: auto;
}

.sec3 h2{
    font-family: 'Roboto', sans-serif;
font-family: 'Sansita Swashed', cursive;
font-size: 50px;
}
.img1 img{
    width: 60%;
    margin-left: 45px;
}
.sec4 img{
    width: 65%;
    margin-top: 40px; 
    margin-left: 47px;

}
.sec4{
    background-color: rgb(164, 177, 179);
    width: 100%;
    height: 100vh;
    }
    .sec4 h1{
        font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    }
    .main h1{
        font-size: 50px;
    }
    .sec5 h1{
        font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    }
    .info5{
        border-bottom: 1px solid gray;
        
    }
    .btn {
        cursor: pointer;
        padding: 20px;
        width: 50%;
        height: 50px;
    }
     .point h1{
       padding-top: 30px; 
    }
.line{
    border-bottom: 1px solid gray;
    padding-top: 20px;
}
ul {
    list-style-type: none;
    line-height: 1.6;
}

.event{
padding-top: 30px;
}
.sec6{
    background-image: url(../imges/background/gallery1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: auto;
    margin-top: 50px;
}
.sec6 h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive; 
    padding-top: 70px;
    font-size: 45px;
    padding-bottom: 30px;
}
.sec6 img{
    width: 80%;
margin-left: 30px;
padding-top: 25px;
}
.sec7 h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive;  
    padding-top: 70px;
    font-size: 40px;
}
.sec7 p{
    padding-top: 20px;
    padding-bottom: 30px;
}
.sec7 img{
    
     border-radius: 130px;
    margin-left: 30px;
}
.sec7 h2{
    padding-top: 30px;
}

.sec8{
    background-color: rgb(170, 197, 210);
    width: 100%;
    height: 80vh;
}
.sec8 h1{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    padding-top: 70px;
    font-size: 40px;
}
.sec8 p{
    padding-top: 30px;
}
.gift img{
    width: 70%;
    margin-left: 40px;
    padding-top: 50px;
    
}
.rohi{
    background-image: url(../imges/background/fl.jpg);
display: block;
width: 100%;
height:300px;
background-repeat: no-repeat;
    background-size: contain;
background-position: left;
max-width: 400px;
position: absolute;
left:20px;
}

.sec9 h2{
padding-top: 50px;
font-size: 40px;
padding-bottom: 20px;
}
.sec9 h6{
    padding-bottom: 30px;
}
.sec10{
    background-image: url(../imges/background/footer.jpg);
    width: 100%;
    height: 200vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-top: 50px;
}
.head10{
    padding-top: 100px;
    padding-bottom: 20px;
}
.para10{
font-size: inherit;
line-height: 20px;
margin-left: 10px;
margin-top: 20px;
}

 .list10 a{
        list-style-type: none;
        margin-left: 0rem;
}
.copyright{
    padding-top: 30px;
}
.sec10 i{
font-size: 35px;
}





















@media(min-width:992px){
    .img1 img{
        width: 30%;
    margin-left: 350px;   
    }
    .sec3 p{
        width: 50%;
        font-weight: 20px;
        padding-top: 20px;
    text-align: center;
    margin-left: 270px;
    }
    .sec4 img{
        width: 30%;
        margin-left: 350px; 

    }
    .sec4 p{
        font-size: 20px;
        
    }
    .main4{
        margin-left: 300px;
        
    }
    .point p{
width: 40%;
text-align: center;
margin-left: 300px;
padding-bottom: 30px;
    }
    .point h1{
text-align: center;
padding-top: 20px;
    }
    .sec6 p{
        width: 50%;
        margin-left: 200px;
    }
    .sec7 img{
        position: relative;
        left: 12%;
    }
     .para7{
        width: 50%;
        margin-left: 260px;
    }
    .para6 {
        width: 60%;
        margin-left: 200px;
    }
    .sec8 p{
        width: 50%;
        margin-left: 200px;
    }
    .rohii{
        margin-left: 260px;
        padding-left: 160px;
    }
    .nav-item1 a{
        margin: 15px;
    }
    .rohii h2{
        position:relative;
        top:-40%;
    }

    
}
@media(min-width:768px){
    .main4{
        margin-left: 300px;
}
.para7{
    width: 70%;
    margin-left: 180px;
}
.para6 {
    width: 60%;
    margin-left: 200px;
}
.sec7 img{
    margin-left: 280px;
}
.sec8 p{
    width: 50%;
    margin-left: 200px;
}

}

@media(min-width:1400px){
    .sec3 h2{
        margin-right: 20%;
    }
    .main {
        margin-right: 20%;
    }
   .sec7 img{
    position: relative;
    right: -20%;
   }
   
}
